.disabled {
  display: none;
}

.spinner-modals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 272px;
}

.spinner-modals img {
  position: absolute;
  z-index: 200;
  width: 90px;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45vh;
  top: 200px;
  background: #f1f0f0;
  padding: 45px 15px;
  border-radius: 10px;
  border: 2px solid #ca161c;
  z-index: 100;
}

.modal .modal-wrapper .modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 12px;
}

.modal .modal-wrapper p {
  text-align: center;
}

.modal .modal-wrapper h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0;
  padding-bottom: 30px;
  font-size: 18px;
}

.modal .modal-wrapper .modal-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.modal .modal-wrapper .modal-inputs label {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
  font-size: 13px;
  width: 100%;
  margin-bottom: 5px;
}

.modal .modal-wrapper .modal-inputs input {
  border-radius: 5px;
  padding: 0 10px;
  width: 100%;
  height: 35px;
  margin-bottom: 11px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
  font-size: 13px;
}

.modal .modal-wrapper .modal-inputs input:focus {
  outline: none;
  outline-width: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal .modal-wrapper .modal-inputs select {
  border: 1px solid #ca161c;
  border-radius: 5px;
  padding: 0 6px;
  width: 100%;
  height: 35px;
  margin-bottom: 11px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 13px;
  text-align: left;
  cursor: pointer;
}

.modal .modal-wrapper .modal-inputs select:focus {
  outline: none;
  outline-width: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal #modal-form {
  height: 40vh;
}

.modal .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vh;
  top: 40px;
  background: #f1f0f0;
  padding: 45px 15px;
  border-radius: 10px;
  border: 2px solid #ca161c;
  z-index: 50;
}

.modal .form-wrapper h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0;
  padding-bottom: 30px;
  font-size: 18px;
}

.modal .form-wrapper .form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.modal .form-wrapper .form-inputs label {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
  font-size: 13px;
  width: 100%;
}

.modal .form-wrapper .form-inputs input {
  border-radius: 5px;
  padding: 0 10px;
  width: 100%;
  height: 35px;
  margin-bottom: 11px;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
  font-size: 13px;
}

.modal .form-wrapper .form-inputs input:focus {
  outline: none;
  outline-width: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal .form-wrapper .form-inputs select {
  border: 1px solid #ca161c;
  border-radius: 5px;
  padding: 0 6px;
  width: 100%;
  padding: 8px 6px;
  margin-bottom: 11px;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 13px;
  text-align: left;
  cursor: pointer;
}

.modal .form-wrapper .form-inputs select:focus {
  outline: none;
  outline-width: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal .form-wrapper .form-inputs .container {
  position: relative;
  height: 3em;
  margin-bottom: 10px;
}

.modal .form-wrapper .form-inputs .container select {
  min-height: 35px;
  position: absolute;
}

.modal .form-wrapper .form-inputs .form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.modal .form-wrapper .form-inputs .form-main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.modal .form-wrapper .form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modal .form-wrapper .form-buttons p {
  margin-bottom: 5px;
}

.btn-opt {
  margin: 10px;
  width: 115px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #ca161c;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  cursor: pointer;
}

.btn-primary {
  background: #ca161c;
  color: #fff;
}

.btn-secundary {
  background: #fff;
  color: #ca161c;
}

.border-no-content {
  border: 3.5px groove #ff414d;
}

.border-default {
  border: 1px solid #ca161c;
}

#notification-message {
  text-align: center;
}

.actions-container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  position: relative;
}

.actions-container .search .title {
  padding-bottom: 20px;
}

.actions-container .search .title h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0;
  color: #ca161c;
  font-size: 28px;
}

.actions-container .search .search-bar {
  border: 1px solid #ca161c;
  padding: 0 13px;
  background-color: #fff;
}

.actions-container .search .search-bar .search-input {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
  font-size: 14px;
  height: 40px;
  width: 456px;
  margin-right: 5px;
  border: none;
  outline: none;
}

.actions-container .search .search-bar .search-button {
  font-size: 20px;
  color: #ca161c;
  cursor: pointer;
  padding-left: 5px;
}

.actions-container .search .autocomplete {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ca161c;
  border-top: 1px solid #9CAFC3;
  padding: 0 13px;
  width: 517px;
  top: 145px;
}

.actions-container .search .autocomplete .hidden-search-option {
  display: none;
}

.actions-container .search .autocomplete .hidden-search-option .hidden-button {
  background-color: transparent;
  border: none;
  padding: 0 10px 0 0;
  color: #9CAFC3;
}

.actions-container .search .autocomplete .hidden-search-option .opcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 14px;
  color: #9CAFC3;
  text-align: left;
  height: 35px;
  width: 100%;
  padding: 3px 0;
  cursor: pointer;
}

.actions-container .search .autocomplete .hidden-search-option .opcion:hover {
  color: #ca161c;
}

.actions-container .search .autocomplete .hidden-search-option .opcion span {
  font-style: italic;
}

.actions-container .operations-buttons {
  padding: 45px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.actions-container .operations-buttons .semi-crud, .actions-container .operations-buttons .extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.actions-container .operations-buttons .semi-crud .exportation, .actions-container .operations-buttons .extra .exportation {
  position: absolute;
  top: -14px;
  right: 99px;
  margin-right: 5px;
}

.actions-container .operations-buttons .semi-crud .exportation .btn-export, .actions-container .operations-buttons .extra .exportation .btn-export {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  width: 155px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ca161c;
  cursor: pointer;
  outline: none;
  background: #fff;
  font-size: 12px;
}

.actions-container .operations-buttons .semi-crud .exportation .btn-export:hover, .actions-container .operations-buttons .extra .exportation .btn-export:hover {
  background-color: #ca161c;
  color: #fff;
}

.actions-container .operations-buttons .semi-crud .exportation .btn-export:hover i, .actions-container .operations-buttons .extra .exportation .btn-export:hover i {
  color: #fff;
}

.actions-container .operations-buttons .semi-crud .exportation .first, .actions-container .operations-buttons .extra .exportation .first {
  margin-bottom: 1px;
}

.actions-container .operations-buttons .btn {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ca161c;
  width: 45px;
  cursor: pointer;
  margin: 0 3px;
  outline: none;
}

.actions-container .operations-buttons .btn i {
  font-size: 20px;
  color: #ca161c;
}

.actions-container .operations-buttons .btn:hover {
  background-color: #ca161c;
  color: #fff;
}

.actions-container .operations-buttons .btn:hover i {
  color: #fff;
}

.actions-container .operations-buttons .btn-active {
  background-color: #ca161c;
  color: #fff;
}

.actions-container .operations-buttons .btn-active i {
  color: #fff;
}

.actions-container .operations-buttons .add {
  width: 90px;
}

.actions-container .operations-buttons .btn-text {
  width: 102px;
  height: 32px;
  color: #ca161c;
}

.table-container {
  border: 1px solid #ca161c;
  padding: 20px 30px;
}

.table-container .table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.table-container .table-header input {
  margin-left: 10px;
}

.table-container .table-header .table-title-container {
  width: 100%;
  padding: 0px 20px 0 40px;
}

.table-container .table-header .table-title-container .table-title {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  justify-items: stretch;
}

.table-container .table-header .table-title-container .table-title .table-item {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  color: #ca161c;
  font-size: 12px;
  text-align: left;
  cursor: pointer;
}

.table-container .table-header .table-title-container .six-elements {
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[6];
      grid-template: 1fr/repeat(6, 1fr);
}

.table-container .table-header .table-title-container .five-elements {
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[5];
      grid-template: 1fr/repeat(5, 1fr);
}

.table-container .table-header span {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  color: #ca161c;
  font-size: 12px;
  margin-right: 22px;
  width: 60px;
}

.table-container .table-body {
  height: 450px;
  background-color: #fff;
}

.table-container .table-body .table-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dotted grey;
  height: 45px;
}

.table-container .table-body .table-register input {
  margin-left: 10px;
}

.table-container .table-body .table-register .table-properties {
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  justify-items: space-between;
  width: 100%;
  padding: 5px 20px 5px 40px;
}

.table-container .table-body .table-register .table-properties span {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 13px;
  text-align: left;
  margin: auto 0;
}

.table-container .table-body .table-register .table-properties .subtext {
  display: block;
  font-size: 10px;
  color: #3d7ea6;
}

.table-container .table-body .table-register .table-properties .contact-channels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-container .table-body .table-register .table-properties .contact-channels button {
  color: #3d7ea6;
  background-color: transparent;
  border: none;
  margin: 0 8px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.table-container .table-body .table-register .table-properties .contact-channels button:hover {
  color: #ca161c;
}

.table-container .table-body .table-register .table-properties .interest-bar {
  width: 90px;
  height: 8px;
  border-radius: 5px;
  background-color: #D5D5D5;
}

.table-container .table-body .table-register .table-properties .interest-bar div {
  height: 100%;
  border-radius: 5px;
}

.table-container .table-body .table-register .table-properties .interest-bar .color25 {
  background-color: #00bcd4;
  width: 25%;
}

.table-container .table-body .table-register .table-properties .interest-bar .color50 {
  background-color: yellow;
  width: 50%;
}

.table-container .table-body .table-register .table-properties .interest-bar .color75 {
  background-color: orange;
  width: 75%;
}

.table-container .table-body .table-register .table-properties .interest-bar .color100 {
  background-color: red;
  width: 100%;
}

.table-container .table-body .table-register .six-elements {
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[6];
      grid-template: 1fr/repeat(6, 1fr);
}

.table-container .table-body .table-register .five-elements {
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[5];
      grid-template: 1fr/repeat(5, 1fr);
}

.table-container .table-body .table-register .actions-options {
  width: 68px;
  margin-right: 16px;
}

.table-container .table-body .table-register .actions-options button {
  color: #606060;
  background-color: transparent;
  border: none;
  margin: 0 8px;
  outline: none;
  cursor: pointer;
}

.table-container .table-body .table-register .actions-options button:hover {
  color: #ca161c;
}

.table-container .table-body .selected-register {
  background-color: #FFFFD8;
}

.table-container .table-body .unselected-register:hover {
  background-color: #e9e9e9;
}

.table-container .table-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 5px;
}

.table-container .table-buttons .page-button {
  width: 30px;
  height: 22px;
  margin: 0 5px;
  background: transparent;
}

.table-container .table-buttons .btn-available {
  border: 1px solid #ca161c;
  color: #ca161c;
  cursor: pointer;
}

.table-container .table-buttons .btn-unavailable {
  border: 1px solid #606060;
  color: #606060;
}

main .login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

main .login-wrapper .logo-container {
  background: #ca161c;
  width: 430px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0;
}

main .login-wrapper .logo-container .logo-icon {
  width: 130px;
}

main .login-wrapper .login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ca161c;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 30px;
  height: 60%;
  width: 430px;
}

main .login-wrapper .login-box i {
  color: #ca161c;
  font-size: 80px;
  margin-bottom: 30px;
}

main .login-wrapper .login-box .login-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-bottom: 12px;
}

main .login-wrapper .login-box .login-inputs label {
  width: 100%;
  text-align: left !important;
}

main .login-wrapper .login-box .login-inputs input {
  border: 1px solid #ca161c;
  border-radius: 15px;
  padding: 0 10px;
  width: 100%;
  height: 40px;
  margin-bottom: 9px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
  font-size: 13px;
}

main .login-wrapper .login-box .login-inputs input:focus {
  outline: none;
  outline-width: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .login-wrapper .login-box .login-button {
  width: 80%;
  height: 60px;
}

main .login-wrapper .login-box .login-button button {
  height: 50px;
  width: 100%;
  background-color: #ca161c;
  border-radius: 15px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-bottom: 8px;
}

main .login-wrapper .login-box .login-button button img {
  width: 40px;
}

main .login-wrapper .login-box #login-error {
  color: red;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 13px;
}

main .background-modals {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #898484;
  opacity: 70%;
  z-index: 10;
}

main .logout-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25vh;
  width: 45vh;
  top: 100px;
  right: 30px;
  background: #f1f0f0;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #ca161c;
  z-index: 100;
}

main .logout-wrapper .logout-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 12px;
}

main .logout-wrapper .logout-buttons p {
  margin-bottom: 5px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ca161c;
  padding: 8px 30px;
}

header nav .logo-icon {
  width: 100px;
}

header nav .menu-container .menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav .menu-container .menu .option {
  list-style: none;
  margin: 17px;
}

header nav .menu-container .menu .option .link {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
}

header nav .menu-container .menu .option .link i {
  font-size: 18px;
}

header nav .menu-container .menu .option .active {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 3px solid #fff;
}

header nav .menu-container .menu .option .active i {
  font-size: 18px;
}

header nav .logued-user {
  position: absolute;
  right: 30px;
  top: 90px;
}

header nav .logued-user h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0;
  color: #ca161c;
}

.form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  top: 40px;
  background: #f1f0f0;
  padding: 45px 15px;
  border-radius: 10px;
  border: 2px solid #ca161c;
  z-index: 50;
}

.form-contact h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0;
  padding-bottom: 30px;
  font-size: 18px;
}

.form-contact .form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 94%;
}

.form-contact .form-inputs #contact-form {
  width: 100%;
}

.form-contact .form-inputs #contact-form label {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
  font-size: 13px;
  width: 100%;
}

.form-contact .form-inputs #contact-form input {
  border-radius: 5px;
  padding: 0 10px;
  width: 100%;
  height: 35px;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
  font-size: 13px;
}

.form-contact .form-inputs #contact-form input:focus {
  outline: none;
  outline-width: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-contact .form-inputs #contact-form select {
  border-radius: 5px;
  padding: 0 6px;
  padding: 8px 6px;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 13px;
  text-align: left;
  cursor: pointer;
}

.form-contact .form-inputs #contact-form select:focus {
  outline: none;
  outline-width: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-contact .form-inputs #contact-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-contact .form-inputs #contact-form .form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 6px;
}

.form-contact .form-inputs #contact-form .form-main {
  background-color: #818181;
  padding: 31px 10px;
  border-radius: 2px;
}

.form-contact .form-inputs #contact-form .form-main div {
  width: 18%;
}

.form-contact .form-inputs #contact-form .form-main label {
  color: #fff;
}

.form-contact .form-inputs #contact-form .form-main .main-container {
  position: relative;
}

.form-contact .form-inputs #contact-form .form-contact-ubication {
  padding: 25px 10px;
}

.form-contact .form-inputs #contact-form .form-contact-ubication div {
  width: 21.4%;
}

.form-contact .form-inputs #contact-form .form-contact-ubication .interest-container {
  width: 8%;
}

.form-contact .form-inputs #contact-form .form-contact-channels {
  padding: 10px 10px 15px 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
  height: 227px;
}

.form-contact .form-inputs #contact-form .form-contact-channels .contact-channel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding-bottom: 10px;
}

.form-contact .form-inputs #contact-form .form-contact-channels .contact-channel div {
  width: 21.4%;
}

.form-contact .form-inputs #contact-form .form-contact-channels .contact-channel .check-container {
  width: unset;
}

.form-contact .form-inputs #contact-form .form-contact-channels .contact-channel .check-container .check {
  height: initial;
  width: initial;
  margin-top: 15px;
  margin-bottom: 13px;
}

.form-contact .form-inputs #contact-form .form-contact-channels .contact-channel .add {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ca161c;
  background-color: #fff;
  width: 50px;
  cursor: pointer;
  margin: 0 3px;
  outline: none;
  height: 36px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.form-contact .form-inputs #contact-form .form-contact-channels .contact-channel .add i {
  font-size: 15px;
  color: #ca161c;
}

.form-contact .form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.form-contact .form-buttons p {
  margin-bottom: 5px;
}

.regions .table-container .table-header h5 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  color: #ca161c;
  font-size: 12px;
}

.regions .table-container #regions-table-body {
  height: unset;
  min-height: 450px;
}

.regions .table-container #regions-table-body #jstree {
  padding: 20px 25px;
}

.regions .table-container #regions-table-body #jstree .regions-operations {
  margin-left: 25px;
  display: none;
}

.regions .table-container #regions-table-body #jstree .regions-operations .btn-action {
  color: #606060;
  background-color: transparent;
  border: none;
  margin: 0 8px;
  outline: none;
  cursor: pointer;
  z-index: 50;
}

.regions .table-container #regions-table-body #jstree .regions-operations .btn-action:hover {
  color: #ca161c;
}

.regions .table-container #regions-table-body #jstree .regions-operations .btn-action:active {
  color: blue;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  background-color: #f1f0f0;
  height: 100%;
  padding: 0 30px;
}

main .core {
  padding-bottom: 30px;
}
/*# sourceMappingURL=styles.css.map */