.regions{
    .table-container{
        .table-header{
            h5{
                @include robotoRegular;
                color: $principalColor;
                font-size: 12px;
            }
        }
        #regions-table-body{
            height: unset;
            min-height: 450px;
            #jstree{
                padding: 20px 25px;
                .regions-operations{
                    margin-left: 25px;
                    display: none;
                    .btn-action{
                        color: rgb(96, 96, 96);
                        background-color: transparent;
                        border: none;
                        margin: 0 8px;
                        outline: none;
                        cursor: pointer;
                        z-index: 50;
                        &:hover{
                            color: $principalColor;
                        }     
                        &:active{
                            color: blue;
                        }               
                    }
                }
                
            }
        }
    }
}
